body {
  background: #dbe4e4;
  margin: 0 auto;
  padding: 0 auto;
  font-size: 24px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.menu {
  background-color: #ff7b00;
}

.menu ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.menu li {
  display: inline-block;
}

.menu a {
  color: white;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.menu a:hover {
  background-color: deepskyblue;
}

article{
  width: 80%;
  height: 0 auto;
  float: left;
  margin: 1px auto;
  padding: 0 auto;
  
}

section {
  width: 100%;
  height: 0 auto;
  float: left;
  margin: 35px;
  padding: 0 auto;
}

section h1{
  font-size: 34px;
  text-align: left;
  padding: 0 auto;
  margin: 15px auto;
}

section p{
  width: 90%;
}

section img{
  width: 80%;
  height: 0 auto;
}

aside {
  width: 20%;
  background-color: #ff7b00;
  height: 0 auto;
  margin-top: 35px;
  padding: 0 auto;
  float: right;
}

.menu-navegacion h1 {
  text-align: center;
  padding: 0 auto;
  margin: 0 auto;
}

.menu-navegacion {
  background-color: #ff7b00;
}

.menu-navegacion ul {
  list-style: square;
  text-align: left;
  padding: 0 auto;
  margin: 0 auto;
  color: white;
}

.menu-navegacion a {
  color: white;
  display: block;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
}

.menu-navegacion a:hover {
  display: block;
  text-decoration: underline;
}

footer{
  height: 0 auto;
  width: 0 auto;
  float: inline-end;
}

.caja_quienes{
  float: left;
  margin: 15px;
  padding: 25px ;
  width: 40%;
  height: 0 auto;
  display: block;
}

.contacto{
  float: right;
  margin: 15px;
  padding: 25px ;
  width: 40%;
  height: 0 auto;
  display: block;
}

.contacto ul {
  list-style: square;
  text-align: left;
  padding: 0 auto;
  margin-left: 30%;
  color: black;
}

.contacto a {
  color: black;
  display: block;
  padding: 15px;
  text-decoration: none;
  font-size: 20px;
}

.contacto a:hover {
  display: block;
  text-decoration: underline;
}

.contacto h1{
margin-left: 30%;
}


